 body{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Kotak{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: red;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak1{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: green;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak2{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: blue;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak3{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: yellow;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak4{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: purple;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak5{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: orange;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak6{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: pink;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak7{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: brown;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .Kotak8{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: grey;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .container{
        display: flex;
        width: 600px;
        flex-wrap: wrap;
        gap: 5px;
        
        }